<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Rent In</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Rent Out</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<section class="content">

    <div class="card">
        <div class="card-body">
            <div class="col-md-12">
                <!-- <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Ref.no</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Lessee</label>
                            <select class="form-control" [(ngModel)]="rentout.lesseeId">
                                <option *ngFor="let item of lessees" [value]="item.id">{{item.fullName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <hr class="solid">
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Lessor</label>
                            <select class="form-control" (change)="lessorChanged()" [(ngModel)]="selectedLessorId">
                                <option *ngFor="let item of lessors" [value]="item.id">{{item.fullName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Material</label>
                            <select class="form-control"  [(ngModel)]="selectedMaterialId" (change)="materialChanged()">
                                <option *ngFor="let item of materials" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Quantity  <span *ngIf="selectedMaterial"> (available {{maxQuantity}})</span></label>
                            <input type="number" class="form-control" [(ngModel)]="quantity" [max]="maxQuantity">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Rent per Unit</label>
                            <input type="text" class="form-control" [(ngModel)]="rentalPerUnit">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Remark</label>
                        <input type="text" class="form-control" [(ngModel)]="remark">
                    </div>
                </div>
                <div class="row" style="float:right;">
                    <button type="button" class="btn btn-info add-new" (click)="addItem()"><i class="fa fa-plus"></i>
                        Add</button>
                </div>
            </div>


            <br>
            <div class="mb-4">
                <hr class="solid">
            </div>
            <h6 class="my-4"><b>Items Rent In</b></h6>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">S/No</th>
                        <th scope="col">Material</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Rental Per Unit</th>
                        <th scope="col">Total</th>
                        <th scope="col">Remarks</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of rentout.rentalDetails; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.materialName}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.unit}}</td>
                        <td>{{item.rentalPerUnit}}</td>
                        <td>{{item.rentalPerUnit * item.quantity}}</td>
                        <td>{{item.remark}}</td>
                        <td>
                            <a class="delete" title="Delete" data-toggle="tooltip" style="cursor: pointer;"
                               (click)="removeItem(item)" ><i class="material-icons"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mb-4">
                <hr class="solid">
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Transport Charges(Rs)</label>
                <div class="col-sm-3 col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="rentout.transportCharge" (change)="calculateTotal()" >
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Loading Charges(Rs)</label>
                <div class="col-sm-3 col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="rentout.labourCharge" (change)="calculateTotal()">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-3 col-sm-3">
                    <input matInput [matDatepicker]="picker"  disabled (dateChange)="dateChanged($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Due Date</label>
                <div class="col-sm-3 col-sm-3">
                    <input matInput [matDatepicker]="picker1" disabled (dateChange)="dueDateChanged($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Advance Payment Rs</label>
                <div class="col-sm-3 col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="rentout.advance" >
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Total</label>
                <div class="col-sm-3 col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="rentout.totalAmount">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Remarks</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="rentout.remark">
                </div>
            </div>

            <div class="row">
                <div class="col-10 offset-2">
                    <div class="row">
                        <div class="col-3">
                            <button class="btn btn-sm btn-success btn-block" (click)="save()">Save</button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-sm btn-danger btn-block">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>