<div>
            <div>
                <h5>{{text}}</h5>
            </div>
            <div class="col-md-12" style="margin-top:20px">
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-5" style="float: left;">
                        <input type="button" class="btn btn-success" (click)="close(true)" value="Confirm" />
                    </div>
                    <div class="col-md-5" >
                        <input type="button" style="float: right;" class="btn btn-danger" (click)="close(false)" value="Cancel" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
            </div>

</div>