<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Payment Certificate</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Payment Certificate</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<section class="content">

    <div class="card">
        <div class="card-body">

                <div class="form-group row">
                    <mat-radio-group aria-label="Select an option"  #radioGroup="matRadioGroup">
                        <mat-radio-button value="1" (change)="payeeChanged(1)" [checked]="true">Lessee</mat-radio-button> &nbsp;
                        <mat-radio-button value="2" (change)="payeeChanged(2)">Lessor</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="form-group row" *ngIf="selectedPayee==1">
                    <label class="col-sm-2 col-form-label">Select Lessee</label>
                    <div class="col-sm-10">
                        <select class="form-control" [(ngModel)]="selectedLesseId">
                            <option *ngFor="let item of lessees" [value]="item.id">{{item.fullName}}</option>
                        </select>
                    </div>                  
                </div>
                <div class="form-group row" *ngIf="selectedPayee==2">
                    <label class="col-sm-2 col-form-label">Select Lessor</label>
                    <div class="col-sm-10">
                        <select class="form-control" [(ngModel)]="selectedLessorId">
                            <option *ngFor="let item of lessors" [value]="item.id">{{item.fullName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Payment Mode</label>
                    <div class="col-sm-10">
                        <select class="form-control" [(ngModel)]="payment.paymentMode">
                            <option *ngFor="let item of patmentMode" [value]="item.id">{{item.type}}</option>
                        </select>
                    </div>
                </div>
      
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Name Of the Payee/Payor</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="payment.payeeOrPayor">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Amount</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"  [(ngModel)]="payment.amount">
                    </div>
                </div>

                

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Payment Ref</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="payment.paymentRef">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Reason/Ref</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="payment.reason">
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-2">
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-sm btn-success btn-block" (click)="makePayment()">Save</button>
                            </div>                       
                            <div class="col-3">
                                <button class="btn btn-sm btn-danger btn-block">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <ngx-material-spinner><p>Please wait...</p></ngx-material-spinner>
</section>