<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Rent-in Material Return</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Rent-In Material Return</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<section class="content">

    <div class="card">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Lessor</label>
                            <select class="form-control" [(ngModel)]="selectedLessorId" (change)="getReferences()">
                                <option *ngFor="let item of lessors" [value]="item.id">{{item.fullName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Reference</label>
                            <select class="form-control" [(ngModel)]="selectedRentalId">
                                <option *ngFor="let item of rentalDetails" [value]="item.key">{{item.value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="button" class="btn btn-primary" value="Select" style="float:right;"
                    (click)="getRentalInfo()" />
            </div>
        </div>
    </div>
</section>
<section class="content">

    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="row">

                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">S/No</th>
                                <th scope="col">Material</th>
                                <th scope="col">Unit</th>
                                <th scope="col">Rental Per Unit</th>
                                <th scope="col">Quantity</th>
                                <th scope="col"> Returned</th>
                                <th scope="col">Return</th>                       
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of rental.rentInDetails ; let i = index">
                                <td> <input class="form-check-input" type="checkbox" [(ngModel)]="item.isSelected" />
                                </td>
                                <td>{{item.material?.code}}</td>
                                <td>{{item.material?.name}}</td>
                                <td>{{item.material?.unit}}</td>
                                <td>{{item.rentalPerUnit}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.quantity - item.qtyToBeReturned}}</td>
                                <td><input type="number" [(ngModel)]="item.qtyBeingReturned"/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>             
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Transport Charges(Rs)</label>
                    <div class="col-sm-3 col-sm-3">
                        <input type="text" class="form-control" [(ngModel)]="transportCharge">
                    </div>
                </div>
    
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Loading Charges(Rs)</label>
                    <div class="col-sm-3 col-sm-3">
                        <input type="text" class="form-control" [(ngModel)]="labourCharge">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-3 col-sm-3">
                        <input matInput [matDatepicker]="picker1" disabled (dateChange)="returnedDateChanged($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <input type="button" class="btn btn-primary" value="Return" style="float:right;"
                (click)="returnMaterial()" />
        </div>
        <br/>
    </div>
    
</section>