/* You can add global styles to this file, and also import other style files */
#sidenav-collapse-main .navbar-nav i {
  font-size: 16px;
  color: #344767;
}

#sidenav-collapse-main .navbar-nav .active i {
  color: white;
}


nav .nav-item {
  font-size: 14px !important;
}

nav .nav-item p i{
  line-height: 24px !important;
}

.col-form-label {
  font-size: 14px !important;
  color: #444444;
}
