<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Initial-Stock</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Add Initial-Stock</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<section class="content">

    <div class="card">
        <div class="card-body">

            <form>

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">S/No</th>
                            <th scope="col">Material</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Location</th>
                            <th scope="col">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-10">
                        <div class="col-3">
                            <button class="btn btn-sm btn-success btn-block">Add More rows</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-10 offset-2">
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-sm btn-success btn-block">Save</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-sm btn-info btn-block">Print</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-sm btn-danger btn-block">Cancel</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-sm btn-dark btn-block">Back to menu</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

</section>